.ModalWindow {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--modal-bg-color);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity var(--transition), z-index var(--transition);
}

.ModalWindowContent {
  padding: 25px;
  margin: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  min-width: 250px;
}

.ModalWindow.active {
  opacity: 1;
  z-index: 2;
}
