.ModalWindow {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: var(--modal-bg-color);
}

.ModalWindowContent {
  padding: 25px;
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  min-width: 250px;
}

.ModalWindow.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
