::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 16px;
}

*:focus-visible {
  outline: var(--accent-color-dark) auto 2px;
}

.todo {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  font-family: var(--font-family);
  color: var(--primary-text-color);
}

.todo__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 15px;
}

.todo__inner-wrap {
  padding: 35px;
  margin: 30px;
  max-width: 700px;
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__inner {
  width: 100%;
}

.todo__main-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.todo__main-btn button {
  width: 100%;
}

.todo__filters-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 30px;
}

.todo__search-wrap {
  position: relative;
  width: 100%;
  margin-right: 25px;
}

.todo__search-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--accent-color);
  transition: background-color var(--transition);
}

.todo__search-wrap:hover:after {
  background-color: var(--accent-color-dark);
}

.todo__search {
  font-size: 16px;
  color: var(--accent-color);
  padding: 10px;
  width: 100%;
  border: 0;
}

.todo__search::placeholder {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.todo__search:focus-visible {
  outline: none;
}

.todo__inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__inner-bottom-btns button:not(:last-of-type) {
  margin-right: 15px;
}

.todo__counter {
  color: var(--secondary-text-color);
  margin-right: 15px;
}

.todo__list {
  height: 50vh;
  overflow: auto;
  margin-bottom: 5px;
}

.todo__list--no-todos {
  display: flex;
  justify-content: center;
}

.todo__list-no-todos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  padding: 12px 15px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.todo__no-todos-text {
  font-size: 20px;
  text-align: center;
  color: var(--secondary-text-color);
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  margin: 0 5px 10px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  border-radius: 12px;
  transition: background-color var(--transition), box-shadow var(--transition);
}

.todo__item:hover {
  box-shadow: 0 2px 4px var(--accent-color);
}

.todo__item--done {
  background-color: var(--tertiary-bg-color);
}

.todo__item--done .todo__item-title {
  text-decoration: line-through;
  color: var(--secondary-text-color);
}

.todo__item--done .todo__btn {
  color: var(--secondary-text-color);
}

.todo__item:not(.todo__item--done) .todo__btn-tick:hover {
  color: var(--secondary-bg-color);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.todo__item.todo__item--done .todo__btn-tick {
  color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
}

.todo__item.todo__item--done .todo__btn-tick:hover {
  color: var(--tertiary-bg-color);
  border-color: var(--secondary-text-color);
  background-color: var(--secondary-text-color);
}

.todo__content {
  margin-right: 20px;
}

.todo__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  transition: color var(--transition);
}

.todo__btns-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__btn-tick,
.todo__btn {
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__btn-tick {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid var(--primary-text-color);
  transition: color var(--transition), border-color var(--transition), background-color var(--transition);
}

.todo__btn {
  width: 32px;
  height: 32px;
  border: none;
  transition: color var(--transition);
}

.todo__item .todo__btn:hover {
  color: var(--accent-color);
}

.todo__btn-tick-svg {
  width: 63%;
  height: 63%;
}

.todo__btn-svg {
  width: 100%;
  height: 100%;
}

.todo__form {
  position: relative;
  max-width: 100%;
  width: 600px;
  height: 70px;
  text-align: right;
}

.todo__form-input {
  font-size: 16px;
  color: var(--primary-text-color);
  padding: 10px 25px;
  border: 2px solid var(--accent-color);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transition: border-color var(--transition);
}

.todo__form-input:focus-visible {
  outline: none;
  border-color: var(--accent-color-dark);
}

.todo__form-input::placeholder {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.todo__form button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  z-index: 1;
}
