.Button,
.ButtonFill {
  padding: 10px 20px;
  border: 2px solid var(--accent-color);
  font-size: 16px;
  border-radius: 100px;
  transition: background-color var(--transition), color var(--transition);
}

.Button {
  background-color: transparent;
  color: var(--accent-color);
}

.ButtonFill {
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);
}

.ButtonFill:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
}

.Button:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.ButtonFill:disabled,
.Button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

/* landscape phone */
@media only screen and (max-width: 640px) {
  .Button,
  .ButtonFill {
    padding: 5px 10px;
    font-size: 12px;
  }
}
